* { 
	box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Noto sans, arial, sans-serif;
    font-weight: 800;
    font-variant-caps: small-caps;
    color: hsl(0,0%,30%);
    gap: 2vh;
}

.header {
    max-width: 80vw;
    font-size: 6vh;
    text-align: center;
    line-height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-sizes {
    display: flex;
    flex: 1 1 0;
    width: 80vw;
    justify-content: space-between;
    align-items: space-between;
}

button {
    height: 10vh;
    width: 25vw;
    border-radius: 10px;
    border: none;
    font-size: 1.4em;
    font-weight: 800;
    font-variant-caps: small-caps;
    color: hsl(0,0%,30%);
    background-color: hsl(180, 20%, 90%)
}

button:hover {
    transform: scale(1.05);
    transition: 0.3s;
}



.squaregrid {
    min-width: 80vw;
    min-height: 80vw;
    display: grid;
    grid-gap: 1%;
}

.cell {
    background: hsl(200, 17%, 50%);
    transition: 3s;
    transition-timing-function: ease-in;
    border-radius: 10%;
}

.cell:hover {
    transition: 0.01s;
    border-radius: 50%;
}


